import streamlit as st
from PIL import Image
import pandas as pd
import base64 # enables user to download as csv
import matplotlib.pyplot as plt
from bs4 import BeautifulSoup
import requests
import json
import numpy as np
import time
import math
import datetime
import pandas_datareader.data as web
from pandas import Series, DataFrame
from sklearn import preprocessing
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import ElasticNet
from sklearn.model_selection import train_test_split